@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuickClick</title>

    @*<link rel="stylesheet" href="~/dist/libs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dist/libs/css/dashboard.css" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />
    
    <environment names="Development">
        <link rel="stylesheet" href="~/dev/vendor.css" />
        <link rel="stylesheet" href="~/dev/app.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/vendor.css" />
        <link rel="stylesheet" href="~/dist/app.css" />
    </environment>
</head>
<body>
<main id="app"></main>

@*<script src="~/dist/libs/js/moment.min.js"></script>
<script src="~/dist/libs/js/numeral.min.js"></script>*@
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
<environment names="Development">
    <script src="~/dev/vendor.js"></script>
    <script src="~/dev/app.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/app.js"></script>
</environment>

</body>
</html>