@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuickClick</title>

    <link rel="stylesheet" href="~/dist/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site.css" />
</head>
<body>
<main id="app"></main>

<script src="~/dist/libs/moment.min.js"></script>
<script src="~/dist/app.js"></script>
</body>
</html>